body {
    background-color: burlywood;
    color: black;
}
h1,h2,h3,h4 {
    color:rgb(59, 32, 0);

}

button {
    color:rgb(255, 255, 255);
    background-color: rgb(44, 29, 0);
}
html, body {
    height: 70%;
    padding: 0;
    margin: 0;
    }
section {
    height: 70%;
    width: 100%;
    overflow: hidden;
    border: thin solid #333;
    }
section:last-of-type {
    color:rgb(29, 20, 0);
    text-align: center;

}
div {
    height: 70%;
    width: 100%;
    overflow: hidden;
    border: thin solid #333;
}

