body {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(3,auto);
    background-color: rgb(199, 163, 110);
}
header {
   grid-row-start: 1;
   grid-row-end: 2;
}
nav {
    grid-row-start: 2;
    grid-row-end: 3;
}
body > form  {
    grid-row-start: 3;
   grid-row-end: 4;
   display:grid;
   grid-template-columns: repeat(4, auto);
   grid-template-rows:repeat(8,auto);
   background-color: rgb(0, 0, 0);
}

body>form>input[type = button] {
    color: white;
    background-color: rgb(2, 0, 124);
    font-size:1.4em;
    padding:0.4em;
    margin:0.6em;
    border-radius: 0.8em;
  
}
body > form>input:first-of-type {
    grid-column-start: 1;
    grid-column-end: 5;
}
body > form>input[type = "text"]{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(190, 255, 160);
    color: rgb(0, 0, 0);
    font-size:2em;
    padding:0.4em;
    margin:0.6em;
    border-radius: 0.5em;
    text-align: center;
}
body > form>input[type = button]:nth-child(-n+5) {
    color: white;
    background-color: rgb(71, 71, 71);

}
body > form>input[type = button]:nth-child(4n+2) {
    color:black;
    background-color: rgb(255, 93, 93);

}








