body {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(2,auto);
}
header {
   grid-row-start: 1;
   grid-row-end: 2;
}

body > form  {
    grid-row-start: 2;
   grid-row-end: 3;
   display:grid;
   grid-template-columns: repeat(5, auto);
   grid-template-rows:repeat(13,auto);
   background-color: rgb(233, 233, 233);
}

body>form>input[type = button] {
    font-size:1.4em;
    padding:0.4em;
    margin:0.6em;
    border-radius: 0.8em;
    background-color: rgb(90, 90, 90);
    color: white;
  
}
body > form>input:first-of-type {
    grid-column-start: 1;
    grid-column-end: 6;
}

/*Pantalla*/
body > form>input[type = text]{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    color: rgb(0, 0, 0);
    font-size:2em;
    padding:0.4em;
    margin:0.6em;
    border-radius: 0.5em;
    text-align: center;
}
body>form>input[type = button][value = 'mrc' ],
body>form>input[type = button][value = 'm+' ],
body>form>input[type = button][value = 'm-' ] {
    color:white;
    background-color:rgb(29, 29, 29) ;
}

body>form>input[value = '=' ]
{
    color:white;
    background-color:rgb(3, 22, 75) ;
    grid-column-start: 4;
    grid-column-end: 6;
}
body>form>input[type = button][value = 'inv' ],
body>form>input[type = button][value = 'hyp' ],
body>form>input[type = button][value = 'trig' ] {
    color:white;
    background-color:rgb(70, 0, 0) ;
}
body>form>input[type = button][value = '0' ],body>form>input[type = button][value = '1' ],
body>form>input[type = button][value = '2' ],body>form>input[type = button][value = '3' ],
body>form>input[type = button][value = '4' ],body>form>input[type = button][value = '5' ],
body>form>input[type = button][value = '6' ],body>form>input[type = button][value = '7' ],
body>form>input[type = button][value = '8' ],body>form>input[type = button][value = '9' ]
{
color:rgb(255, 255, 255);
background-color:rgb(29, 29, 29) ;
}


